BODY	 {
			scrollbar-arrow-color : #4C4C4C    ;
			scrollbar-base-color : #FFD80F  ;
			scrollbar-dark-shadow-color : #FFD80F    ;
			scrollbar-face-color : #FFD80F  ;
			scrollbar-highlight-color : #4C4C4C    ;
			scrollbar-shadow-color : #FFD80F  ;
			scrollbar-background : kanweg.gif  ;
			Background-Attachment : fixed ;
			Background-Position : Right Bottom ;
			Background-Repeat : No-Repeat ;
			Color : black
		}
